*{
		margin: 0;
		padding: 0;
}


.container{
	width: 1140px;
	margin: 0px auto;
}
.contact-form{
	background-color: #76E2E9;
	height: 100vh;
	padding: 100px 0;
}

.full-box{
	display: flex;
	width: 100%;
}
.left{
	flex-basis: 50%;
	background-color: #3686BD;
	margin: 0 auto;
	padding: 0px 56px;
	padding-top: 40px;
	border-radius: 5px 0px 0px 5px;
}


.left h1{
	font-family: 'Roboto', sans-serif;
	color: white;
    margin-bottom: 60px;
}
.left p{
	font-family: 'Roboto', sans-serif;
	color: white;
    margin-bottom: 40px;
    font-size: 14px;
    color: #e8e5e5;
}
.left span{
	color: white;
	margin-right: 10px;
}

.left button{
	padding: 10px 20px;
	padding: 15px 25px;
    background: white;
    color: #3686BD;
    font-family: 'Roboto', sans-serif;
    border: none;
    border-radius: 0px 5px;
    font-weight: 700;

}
.right{
	flex-basis: 50%;
	background-color: white;
	margin: 0 auto;
	padding: 0px 56px;
	padding-top: 40px;
	border-radius: 0px 5px 5px 0px;
}
.right h1{
	font-family: 'Roboto', sans-serif;
	color: #3686BD;
    margin-bottom: 60px;
}

form input{
	padding: 10px;
    width: 100%;
    margin-bottom: 20px;

}

.name{
	display: flex;
	width: 100%;
}
.name1{
	width: 50%;
	margin-right: 40px;
}

.name2{
	width: 50%;
}


.password{
	display: flex;
	width: 100%;
}
.password1{
	margin-right: 40px;
	width: 50%;
}
.password2{
	width: 50%;}

.chk{
	width: auto;
	display: inline-block;
}

.btn{
	display: inline-block;
	width: auto;
	padding: 15px 30px;
	background-color: #3686BD;
	border: none;
	color: white;
	border-radius: 0px 5px;
    font-weight: 700;
    margin-bottom: 70px;
}
label{
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
}